.header {
  background: $dark-blue;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: $s-size 0;
}

.header__title {
  color: white;
  text-decoration: none;
  text-align: center;
  h1 {
    margin: 0;
  }
}

.header__title--user {
  color: white;
  text-decoration: none;
  text-align: center;
  display: flex;
  font-weight: 300;
}

.user-icon {
  border-radius: 50%;
  margin: 0 5px;
}